.DS_Store

Build/
BuildArm64/
DerivedData/
BuildCheck-ios/
BuildCheck-ios2/
BuildCheck-ios-arm64/
BuildCheck-mac/
BuildiPhone/

Design/**/Previews/
*.swp

*.xcuserstate
*.moved-aside

xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
